<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add name="CrmConnection" connectionString="Data Source=Nataly; Database=CRM ;User ID=sa;Password=********;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
   </configuration>